 /* Gradient Background for the Wrapper */
 body {
    margin: 0; 
    padding: 0; 
    background: linear-gradient(to bottom right, #e1e4ff, #59a1ff,  #3451a7);
    background-size: 200% 200%; 
    /* animation: gradientAnimation 15s ease infinite;  */
     
  }

  /* Commented it out, uses allot of resources */
  /* @keyframes gradientAnimation {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
  } */


  .cardButton {
    width: 120px;
    height: 60px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    background-color: rgb(210, 241, 255);
    border: 0;
    padding: 10px 10px;
    margin: 3px;
    color: #1d1d1d;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
  }
  .cardButton:hover {
    background-color: #399cff;
  }

.container {
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Form Titles */
.formTitle {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #333;
}
/* Form Styling */
.form-group {
    margin-bottom: 1rem;
    text-align: left;
}
.form-group label {
    font-size: 0.9rem;
    color: #555;
}
.input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: #007bff;
}

/* Button Styling */
button {
    cursor: pointer;
    font-size: 1rem;
    padding: 0.8rem 1.2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}
