*.json
*.key
*.pem
*.pyc

website/static/sftp/images/*
website/static/sftp/models/*
virus/testapp/*
website/__pycache__/*
compiler/build/*
compiler/test_virus.py
build/*
dist/*
Lib/*
Scripts/*
Include/*
website/__pycache__
compiler/compiler-venv/*
flask-venv/*
database.db
__pycache__/*
setup.py
test.py
test.zip
*.zip
*.log
*.exe
*.pyd
*.dll
*.dat
*.rst
test.spec
test/*
test/frozen_application_license.txt
test/python312.dll
test/test.exe
test/lib/_bz2.pyd
test/lib/_decimal.pyd
test/lib/_hashlib.pyd
test/lib/_lzma.pyd
test/lib/_socket.pyd
test/lib/libcrypto-3.dll
test/lib/library.dat
test/lib/library.zip
test/lib/select.pyd
test/lib/unicodedata.pyd
test/lib/email/architecture.rst
*test_virus.py
*test_virus*
test_virus.py
compiler/test/frozen_application_license.txt
web/zippedFiles/test/frozen_application_license.txt
web/zippedFiles/test/lib/certifi/py.typed
web/zippedFiles/test/lib/charset_normalizer/py.typed
web/zippedFiles/test/lib/idna/py.typed
web/zippedFiles/test/lib/urllib3/py.typed
web/zippedFiles/test/lib/urllib3/contrib/emscripten/emscripten_fetch_worker.js
secret_key.txt
compiler/test_virus.py
web/zippedFiles/test/lib/cryptography/py.typed
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/__init__.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/_openssl.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/asn1.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/exceptions.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/ocsp.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/pkcs7.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/pkcs12.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/test_support.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/x509.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/__init__.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/aead.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/ciphers.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/cmac.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/dh.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/dsa.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/ec.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/ed448.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/ed25519.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/hashes.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/hmac.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/kdf.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/keys.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/poly1305.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/rsa.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/x448.pyi
web/zippedFiles/test/lib/cryptography/hazmat/bindings/_rust/openssl/x25519.pyi
web/zippedFiles/test/lib/ctypes/macholib/fetch_macholib
web/zippedFiles/test/lib/ctypes/macholib/fetch_macholib.bat
web/zippedFiles/test/lib/ctypes/macholib/README.ctypes
web/zippedFiles/test/lib/scapy/py.typed
web/zippedFiles/test/lib/scapy/VERSION
compiler/settingsTest.py
compiler/test_virus.py
