*.json
*.key
*.pem
*.pyc

website/static/sftp/images/*
website/static/sftp/models/*
virus/testapp/*
website/__pycache__/*
compiler/build/*
compiler/test_virus.py
build/*
dist/*
Lib/*
Scripts/*
Include/*
website/__pycache__
compiler/compiler-venv/*
flask-venv/*
database.db
__pycache__/*
setup.py
test.py
test.zip
*.zip
*.log

test.spec
test/frozen_application_license.txt
test/python312.dll
test/test.exe
test/lib/_bz2.pyd
test/lib/_decimal.pyd
test/lib/_hashlib.pyd
test/lib/_lzma.pyd
test/lib/_socket.pyd
test/lib/libcrypto-3.dll
test/lib/library.dat
test/lib/library.zip
test/lib/select.pyd
test/lib/unicodedata.pyd
test/lib/email/architecture.rst

*test_virus*
