flask
Flask-SQLAlchemy
flask-login
flask-socketio
eventlet
cryptography
pycryptodome
flask-cors
dnslib
bitstring
requests
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
