flask
Flask-SQLAlchemy
flask-login
flask-socketio
eventlet
cryptography
pycryptodome
flask-cors
dnslib
bitstring
requests
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
