{% for row in dataToHtml %}
    <div class="card" style="margin-bottom: 15px;">
        <h5 class="card-header {% if not row.is_alive %}deactivated-header{% else %}active-header{% endif %}">
            {{ row.name }}
        </h5>
        <div class="card-body" style="text-align: left;">
            <p style="color:black"><strong>ID:</strong> {{ row.id }}</p>
            <p style="color:black"><strong>Name:</strong> {{ row.name }}</p>
            <p style="color:black"><strong>Heartbeat Rate:</strong> {{ row.heartbeat_rate }} ms</p>
            <p style="color:black"><strong>Enabled usecases:</strong> {{ row.use_case_settings }}</p>
            <p style="color:black"><strong>Status:</strong> {{ "Active" if row.is_alive else "Inactive" }}</p>
        </div>
        <div class="card-footer" style="display: flex;">
            <!-- Actions -->
            <form method="POST" action="{{ url_for('views.virus_info') }}">
                <input type="hidden" name="virus_id" value="{{ row.id }}"> 
                <button type="submit" class="cardButton">Info</button>
            </form>
            <form method="POST" action="{{ url_for('api.archive_virus') }}">
                <input type="hidden" name="virus_id" value="{{ row.id }}"> 
                <button type="submit" class="cardButton">Archive</button>
            </form>
            <form method="POST" action="{{ url_for('api.delete_virus') }}">
                <input type="hidden" name="virus_id" value="{{ row.id }}"> 
                <button type="submit" class="cardButton">Delete</button>
            </form>
            <form method="POST" action="{{ url_for('api.active_toggle') }}">
                <input type="hidden" name="virus_id" value="{{ row.id }}"> 
                <button type="submit" class="cardButton">{{ "Deactivate" if row.is_alive else "Activate" }}</button>
            </form>
            <form method="POST" action="{{ url_for('api.internal_virus_download') }}">
                <input type="hidden" name="virus_id" value="{{ row.id }}"> 
                <button type="submit" class="cardButton">Download ZIP</button>
            </form>
        </div>
    </div>
{% endfor %}

<style>
    .active-header {
        background-color: rgb(199, 223, 255); /* Light blue for active */
        color: black;
    }

    .deactivated-header {
        background-color: rgb(255, 159, 159); /* Red for deactivated */
        color: black;
    }
</style>