{% extends "base.html" %} 
{% include "cssImport.html" %} 
{% block title %}
Virus
{% endblock %} 

{% block content %}
<div class="wrapper">

<h1 align="center" style="color:black; margin: 15px;">Archived Test Viruses</h1>

<table style="color:black;">
  {% for virus in dataToHtml %}
  <div class="card" style="margin-bottom: 20px;">
      <h5 class="card-header">Archived Log: {{ virus.log_name }}</h5>
      <div class="card-body">
          <p><strong>Virus Name:</strong> {{ virus.virus_name }}</p>
          <p><strong>Heartbeat Rate:</strong> {{ virus.heartbeat_rate }} ms</p>
          <p><strong>Use Cases:</strong> {{ virus.use_case_settings }}</p>
  
          <h6>Hosts:</h6>
          {% if virus.hosts %}
          <ul>
              <!-- Need to store th outerloop in a variable so its possoble to see the outerloop index -->
              {% set outer_loop = loop %}
              {% for host in virus.hosts %}
              
              <button class="btn btn-link toggle-btn" data-target="hostLogs-{{ outer_loop.index }}-{{ loop.index }}">
                View Logs for Host: {{ host.host_name }}
            </button>

            <div class="host-logs" id="hostLogs-{{ outer_loop.index }}-{{ loop.index }}" style="display: none; margin-top: 10px;">
                <div class="card card-body">
                    <p><strong>Last Heartbeat:</strong> {{ host.last_heartbeat }}</p>
                    <p><strong>Log Info:</strong> {{ host.log_info }}</p>
                </div>
            </div>
              
              {% endfor %}
          </ul>
          {% else %}
          <p>No hosts connected.</p>
          {% endif %}
      </div>
  </div>
  {% endfor %}
  </table>
  

  <script>
    //toggling log visibility
    document.addEventListener("DOMContentLoaded", function () {
        const toggleButtons = document.querySelectorAll(".toggle-btn");
    
        toggleButtons.forEach((button) => {
            button.addEventListener("click", function () {
                const targetId = this.getAttribute("data-target");
                const targetElement = document.getElementById(targetId);
    
                if (targetElement.style.display === "none") {
                    targetElement.style.display = "block";
                    this.textContent = "Hide Logs for Host";
                } else {
                    targetElement.style.display = "none";
                    this.textContent = "View Logs for Host";
                }
            });
        });
    });
    </script>
    
<!-- <table >
    <tr>
        <th>ID</th>
        <th>virus_type</th>
        <th>name</th>
        <th>heartbeat_rate</th>
        <th>user_id</th>
    </tr>
    {% for row in dataToHtml %}
        <tr>
            {% for field in row %}
                <td>{{ field }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table> -->
{% include 'scriptsImport.html' %}


{% endblock %}

